<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="logo">File Uploader App</div>
    <div class="nav-links">
      <a href="/">Home</a>
      <% if (currentUser) { %>

         <a href="/auth/log-out">Dashboard</a>
        <a href="/auth/log-out">Logout</a>
         
      <% } else { %>
        <a href="/auth/signup">Sing up</a>
      <% } %>
    </div>
  </nav>

  <!-- MAIN CONTAINER -->
  <div class="container">

    <h1> Folders</h1>

    <% if (currentUser) { %>

      

     <div class="card description">

  <h2 class="upload-title">Create New</h2>

 <form action="view-folders/create" method="POST" id="folderForm" style="display:none; margin-top:10px;">
  <input 
    type="text" 
    name="name" 
    placeholder="Folder name" 
    required 
  />
  <button type="submit">Create</button>
</form>

</div>

    <% } else { %>

      <h2 class="welcome">Please log in</h2>

      <form action="/auth/log-in" method="POST">

        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" name="username" type="text" placeholder="Enter username" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="Enter password" />
        </div>

        <button type="submit">Log In</button>
      </form>

    <% } %>

  </div>

</body>
</html>